@import "../../SCSS/colors.scss";


      

  /* HTML: <div class="loader"></div> */
.loaderBar {
    margin-block: 10px;
    height: 4px;
    width: 100%;
    --c:no-repeat linear-gradient(#BB2D3B 0 0);
    background: var(--c),var(--c),#ffffff;
    background-size: 60% 100%;
    animation: l16 3s infinite;
  }
  @keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
  }