.App {
  text-align: center;
  overflow-x: clip;
}

#dice-box,
#dice-box canvas {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  width: 100%;
  height: 100%;
}

#dice-box-off-canvas,
#dice-box-off-canvas canvas {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.button-prova-centramento {
  margin-top: 20%;
}
