
@import "../../SCSS/colors.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}



.profile-card-container h3 {
    font-family: Montserrat, sans-serif;
	margin: 10px 0;
}



.profile-card-container  h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

.profile-card-container p {
	font-size: 14px;
	line-height: 21px;
}

.profile-card-container {
	background-color: rgb(19, 28, 31);
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.profile-card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.profile-card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

.profileImage{
    width: 200px;
    // filter: grayscale(100%);
}

.buttons .primary {
	background-color: #03BFCB;
	border: 1px solid #cb9c03;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

.buttons .primary.ghost {
    cursor: pointer;
    text-decoration: none;
	background-color: transparent;
	color: #cb9c03;

    &:hover{
      color: #fff;
      font-weight: bold;
      background-color: #cb9c03;  
    }
}

.skills {
	background-color: #071013ff;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #fe0b0b6b;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}