@import '../../../SCSS/colors.scss';


.dragonRaceContainer{
    font-weight: bold;
    color: $rich-black;
}

.dragonRaceContainer > .dragonElement:nth-child(odd){
    background-color: $silver;
    color: #fff;
}


// .raceContainer:hover, .subRaceContainer:hover, .accordion-item:hover{
//     color: $rich-black;
//     border: 3px solid $rich-black !important;
//     transition: ease-in-out 0.3s;
// }

