@import "../../SCSS/colors.scss";

.handler{
    inset-block: 0;
}

.noSelect{
    user-select: none;
}

.pointerImgRight{
    width: 30px;
    margin-inline-start: 15px;
    filter: invert(100%);
}

.codeBack{
    background-color:#2F3639;
    border-radius: 30px;
}

.snippetStyle{

    border-radius: 35px;
    background-color: rgb(36, 36, 36);
    text-align: start;
}

.snippetHeight{
    height: 500px;
    overflow-x: clip;  
}

.innerSnippetHeight{
    height: 500px;
}


.scroll{
  }
  .scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
    border-radius: 20px;
  }
  .scroll::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 25px;
  }
  .scroll::-webkit-scrollbar-thumb{
    background-color: $indian-red;
    border-radius: 20px;
    
  }


  //---------------------------
.startYourAdventure{
  color:$rich-black;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: $secondary-red;
}

.faqAnchor{
  text-decoration: underline;
  text-decoration-color: $secondary-red;
  color:$rich-black;
  transition: ease-in-out 0.2s;

  &:hover{
    text-decoration-color: $rich-black;
  color:$secondary-red;
  transition: ease-in-out 0.3s;
  }
}